<html lang="en">
<!-- begin::Head -->
<head>
    <meta charset="utf-8" />
    <title>DAPENBI | Login</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <!--end::Web font -->
    <!--begin::Base Styles -->
    <link th:href="@{/metronic/css/demo1/pages/login/login-3.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/metronic/vendors/global/vendors.bundle.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/metronic/css/demo1/style.bundle.css}" rel="stylesheet" type="text/css" />
    <!--end::Base Styles -->
    <!--begin::Layout Skins(used by all pages) -->
    <link th:href="@{/metronic/css/demo1/skins/header/base/light.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/metronic/css/demo1/skins/header/menu/light.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/metronic/css/demo1/skins/brand/dark.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/metronic/css/demo1/skins/aside/dark.css}" rel="stylesheet" type="text/css" />
    <link rel="icon" th:href="@{/images/logo.ico}"/>
    
    <!--end::Layout Skins -->
</head>
<!-- end::Head -->
<body class="kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">
    <!-- begin:: Page -->
    <div class="kt-grid kt-grid--ver kt-grid--root">
        <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v3 kt-login--signin" id="kt_login">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" style="background-image: url(./metronic/media/bg/bg-3.jpg);">
                <div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper">
                    <div class="kt-login__container">
                        <div class="kt-login__logo">
                            <img th:src="@{/images/logo_115.png}" />
                        </div>
                        <div class="kt-login__signin">
                            <div class="kt-login__head">
                                <h3 class="kt-login__title">SA INVESTASI</h3>
                            </div>
                            <form class="kt-login__form kt-form" method="post" th:action="@{/login}">
                                <div class="form-group kt-form__group">
                                    <input class="form-control kt-input" type="text" placeholder="Username" name="username" autocomplete="off" required>
                                    <input type="hidden" name="returnUrl" id="returnUrl" />
                                </div>
                                <div class="form-group kt-form__group">
                                    <input class="form-control kt-input kt-login__form-input--last" type="password" placeholder="Password" name="password" required>
                                </div>
                                <div class="kt-login__actions">
                                    <button id="m_login_signin_submit" type="submit" class="btn btn-brand btn-elevate kt-login__btn-primary">Sign In</button>
                                </div>
                            </form>
                        </div>
                        <div class="kt-login__account">
                            <span class="kt-login__account-msg" id="lblErrorLogin" style="color:red !important;">
                                
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: Page -->
    <script>
        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#5d78ff",
                    "dark": "#282a3c",
                    "light": "#ffffff",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995"
                },
                "base": {
                    "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
                    "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
                }
            }
        };
    </script>
    <!--begin::Base Scripts -->
    <script th:src="@{/metronic/vendors/global/vendors.bundle.js}" type="text/javascript"></script>
    <script th:src="@{/metronic/js/demo1/scripts.bundle.js}" type="text/javascript"></script>
    <script th:src="@{/custom_js/common.js}" type="text/javascript"></script>
    <script>
        jQuery(document).ready(function () {
            var error = getUrlParameter("error");
            
            if(error){
            	$('#lblErrorLogin').html("Login Failure! Wrong username or password");
            }
        });
    </script>
    <!--end::Base Scripts -->
</body>
<!-- end::Body -->
</html>