html, body{
	font-size:12px !important;	
}

.dataTables_wrapper .dataTable .selected th, .dataTables_wrapper .dataTable .selected td
	{
	background-color: #5D78FF;
	color: #ffffff;
}

.logo-title {
	font-size: 18px;
	margin-left: 5px;
	margin-top: 5px;
	color: #a2a3b7;
	font-weight: 500
}

.kt-aside--minimize .kt-aside__brand .kt-aside__brand-logo .logo-title {
      display: none; 
}


@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px; !important 
  } 
}
    
.modal-dialog-scrollable {
	display:block !important;	
}

.color-white{
	color:#ffffff !important;
}


/* FORM SEGMENT */
.btn {
	font-size: 12px !important;
}

.form-group {
	margin-bottom: 0px !important;
}

.form-control{
	height: calc(1.3em + 1rem) !important;
}

.form-group label {
    
}

.bootstrap-select > .dropdown-toggle{
    padding: 0.4rem 1rem !important;
}

/* BUTTON */
.btn {
	font-size: 1rem !important;
    padding: 0.45rem 1rem;
}

.btn-sm, .btn-group-sm > .btn {
    padding: 0.3rem 1rem !important;
}

.btn-lg, .btn-group-lg > .btn {
    padding: 0.95rem 1.65rem;
}

/* BADGE */
.kt-badge.kt-badge--grey {
    color: #ffffff;
    background: #686869;
}